.text-area .content {


    -fx-background-color: #474747 ;
    -fx-border-color: #474747;
    -fx-text-fill: #fff;
 
 
 }
 .text-area{
    -fx-background-color: #474747 ;
    -fx-border-color: #474747;
    -fx-text-fill: #fff;
 }
 
 